<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
  {{t "menu.language"}}
  <span class="caret"></span>
</a>
<ul class="dropdown-menu" role="menu">
  {{#each locale in locales}}
    <li>
      <a href="#" data-toggle="{{if data-target collapse}}" data-target="{{data-target}}" {{action "action" locale.value}}>
        {{t locale.key}}
      </a>
    </li>
  {{/each}}
</ul>
