<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">{{t "menu.toggle"}}</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {{link-to (t "menu.title") "home" class="navbar-brand"}}
  </div>
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav hidden-xs">
      <li class="{{homeClass}}">
        {{link-to (t "menu.home") "home"}}
      </li>
      <li class="{{usersClass}}">
        {{link-to (t "user.users") "users"}}
      </li>
      <li class="{{productsClass}}">
        {{link-to (t "product.products") "products"}}
      </li>
      {{locale-chooser action="changeLocale"}}
      {{user-tab class=userClass action="signOut"}}
    </ul>
    <ul class="nav navbar-nav visible-xs">
      <li class="{{homeClass}}" data-toggle="collapse" data-target="#navbar">
        {{link-to (t "menu.home") "home"}}
      </li>
      <li class="{{usersClass}}" data-toggle="collapse" data-target="#navbar">
        {{link-to (t "user.users") "users"}}
      </li>
      <li class="{{productsClass}}" data-toggle="collapse" data-target="#navbar">
        {{link-to (t "product.products") "products"}}
      </li>
      {{locale-chooser data-target="#navbar" action="changeLocale"}}
      {{user-tab class=userClass data-target="#navbar" action="signOut"}}
    </ul>
  </div>
</div>
