<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">{{t "menu.toggle"}}</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {{#link-to "home" class="navbar-brand"}}{{t "menu.title"}}{{/link-to}}
  </div>
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav hidden-xs">
      <li class={{homeClass}}>
        {{#link-to "home"}}{{t "menu.home"}}{{/link-to}}
      </li>
      <li class={{usersClass}}>
        {{#link-to "users"}}{{t "user.users"}}{{/link-to}}
      </li>
      <li class={{productsClass}}>
        {{#link-to "products"}}{{t "product.products"}}{{/link-to}}
      </li>
      {{locale-chooser action="changeLocale"}}
      {{user-tab action="signOut"}}
    </ul>
    <ul class="nav navbar-nav visible-xs">
      <li class={{homeClass}} data-toggle="collapse" data-target="#navbar">
        {{#link-to "home"}}{{t "menu.home"}}{{/link-to}}
      </li>
      <li class={{usersClass}} data-toggle="collapse" data-target="#navbar">
        {{#link-to "users"}}{{t "user.users"}}{{/link-to}}
      </li>
      <li class={{productsClass}} data-toggle="collapse" data-target="#navbar">
        {{#link-to "products"}}{{t "product.products"}}{{/link-to}}
      </li>
      {{locale-chooser action="changeLocale"}}
      {{user-tab action="signOut"}}
    </ul>
  </div>
</div>
