<h2>{{t "product.products"}}</h2>

{{#link-to "products.create"}}
  <button class="btn btn-lg btn-primary">{{t "buttons.create"}}</button>
{{/link-to}}

{{input value=search}}
{{t "product.count" count=model.meta.count}}

<div class="list-group">
  {{#each product in model}}
    {{#link-to "products.product" product class="list-group-item"}}
      <span product-id="{{product.id}}">{{product.name}}</span>
    {{/link-to}}
  {{/each}}
</div>

{{infinity-loader infinityModel=model loadingText="Loading..." loadedText=""}}
