<h2>{{t "product.products"}}</h2>

{{input value=search}}
{{t "product.count" model.meta.count}}

<div class="list-group">
  {{#each product in products}}
    {{#link-to "products.product" product class="list-group-item"}}
      <span product-id="{{product.id}}">{{product.name}}</span>
    {{/link-to}}
  {{/each}}
</div>

<button class="btn btn-lg btn-primary" {{action "loadMore"}}>{{t "product.loadMore"}}</button>
{{#link-to "products.create"}}
  <button class="btn btn-lg btn-primary">{{t "buttons.create"}}</button>
{{/link-to}}
